@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

body, html {
  background-color: #000;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #ECECEC;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.page-wrap {
  width: 90%;
  margin: 0 auto;
  display: block;
}

h1 {
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1.5px;
}

.bold-headline {
  font-weight: 700;
  color: red;
}

.main-content-wrap {
  margin-bottom: 60px;
}

.swiper-container {
  width: 100%;
  height: 60vh;
} 

.play-button {
  width: 100px;
  align-self: center;
  cursor: pointer;
  z-index: 99;
}

.swiper-pagination-bullet {
  background-color: #ECECEC;
  opacity: 1;
}

.swiper-slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.swiper-slide:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent ,#000);
  opacity: .9; 
}

.slide-info {
  z-index: 99;
  position: absolute;
  bottom: 60px;
  padding: 0 40px;
}

.swiper-pagination-bullet-active {
  background-color: red;
}

.slide-title {
  font-size: 30px;
  padding: 10px;
}

.slide-description {
  font-weight: 100;
  padding: 0 10px;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.category {
  display: flex;
  justify-content: flex-start;
  height: 170px;
  width: 100%;
  overflow: scroll;
  position: relative;
}

.arrow-overlay {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
}

.arrow-overlay-carousel {
  height: 50vh;
}

.left-arrow, .right-arrow {
  opacity: .3;
  height: 30px;
  padding: 0 20px;
  z-index: 99;
  cursor: pointer;
}

.right-arrow {
  opacity: 1;
}

.left-arrow.prev-slide, .right-arrow.next-slide {
  opacity: 1;
  height: 40px;
}

.category-title {
  font-size: 18px;
  margin-top: 50px;
}

.film {
  box-sizing: border-box;
  cursor: pointer;
  min-width: 250px;
  height: 100%;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
  border: 1px solid #484848;
  background: no-repeat center center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;
}


.title-bar {
  box-sizing: border-box;
  background-color: #2F2F2F;
  font-size: 14px;
  padding: 10px;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.title-bar.show-description {
  height: 100%;
  overflow: scroll;
  padding: 10px 20px;
}

.menu-active {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  font-size: 16px;
  text-align: center;
  background-color: #000;
}

.menu, .close {
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.close {
  font-weight: 100;
  font-size: 26px;
  margin: 0;
  padding: 0 10px;
}





